*{
    margin: 0;
}

header{
   background-color:darkcyan; 
   color: aliceblue;
   font-size: 40px;
   text-align: center;
   padding-bottom: 6px;
}
.left_nav, .right_nav{  
    color: white;
    font-size: 40px;
    text-align: center;
    height: 800px;
    width: 180px;
}
.left_nav{
    float: left; 
    background-color: chocolate;
}
.right_nav{
    float: right;
    background-color: green;
}
.left_ads{
    background-color: navy;
    color: white;
    font-size: 40px;
    text-align: center;
    height: 800px;
    float: right;
    width: 180px;
}

.article{
    overflow: hidden;
}
.left{
width: 50%;
height: 300px;
background-color: darkgreen;
float: left;
}
.right{
    width: 50%;
    height: 300px;
    background-color: darkturquoise;
    float: right;
}

/* .feature{
overflow: hidden;
}
.feature_one{
width: 3%;
height: 200px;
background-color: darkolivegreen;
float: left;
clear: right;
}
.feature_two{
    width: 3%;
    height: 200px;
    background-color: deepskyblue;
    clear: right;
float: left;
}
.feature_three{
    width: 3%;
    height: 200px;
    background-color: blue;
float: left;
clear: right;
}
     */
.ads{
    overflow: hidden;
}
.left_ads{
    background-color: navy;
    color: white;
    font-size: 40px;
    text-align: center;
    height: 800px;
    float: right;
    width: 180px;
}
.right_ads{
    width: 30%;
    height: 100px;
    font-size: 30px;
    background-color: dimgray;
    float: right;
}
footer{
    background-color: yellowgreen;

    color: white;
    text-align: center;
    width: 100%;
    font-size: 40px;
    
}
.content_parent{
    display: flex;
    justify-content: space-around;
    padding: 50px 50px;
    background-color: peachpuff;
    height: 72vh;
}
.boxes{
    width: 300px;
    background: slateblue;
    padding: 40px 20px
}
